# DSCI 303 - Project 02

**Adam Sneed**

# Introduction

In this project, we will use the gapminder dataset, which contains the socioeconomic data of 184 countries, to calculate and/or display different values.

In [1]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

# Part 1: Displaying Past 20 Years of US Data

In this section, we will display the first 20 years of the data for the United States.

In [3]:
print("Year    Country         Population   LExp    pcGDP     Gini")
print("-----------------------------------------------------------")

Year    Country         Population   LExp    pcGDP     Gini
-----------------------------------------------------------

In [4]:
print("Year    Country         Population   LExp    pcGDP     Gini")
print("-----------------------------------------------------------")
for i in range(0,len(country)):
    if (year[i] >= 1999) & (country[i] == "United States"):
        print(f'{year[i]:<8}{country[i]:<16}{population[i]:<13}{life_exp[i]:<8}{pcgdp[i]:<10}{gini[i]:>4}')

Year    Country         Population   LExp    pcGDP     Gini
-----------------------------------------------------------
1999    United States   279000000    76.8    44700     40.5
2000    United States   282000000    76.9    46000     40.5
2001    United States   285000000    77.0    46000     40.5
2002    United States   288000000    77.1    46400     40.5
2003    United States   290000000    77.3    47300     40.5
2004    United States   293000000    77.5    48600     40.6
2005    United States   295000000    77.7    49800     40.7
2006    United States   298000000    77.9    50600     40.8
2007    United States   301000000    78.1    51000     40.8
2008    United States   303000000    78.3    50400     40.8
2009    United States   306000000    78.6    48600     40.7
2010    United States   309000000    78.7    49400     40.7
2011    United States   311000000    78.8    49800     40.7
2012    United States   313000000    78.9    50500     40.8
2013    United States   316000000    78.9    51000     41.0
2014    United States   318000000    78.9    51800     41.2
2015    United States   320000000    78.8    52800     41.3
2016    United States   322000000    78.8    53300     41.4
2017    United States   324000000    79.0    54200     41.5
2018    United States   327000000    79.1    54900     41.5

# Part 2: Selecting the 2018 Data

In this section we will create six new lists, each of them will contain the 2018 data for each country.

In [5]:
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

for i in range(0,len(country)):
    if year[i] == 2018:
        country_2018.append(country[i])
        population_2018.append(population[i])
        continent_2018.append(continent[i])
        life_exp_2018.append(life_exp[i])
        pcgdp_2018.append(pcgdp[i])
        gini_2018.append(gini[i])

In [6]:
print("The global population in 2018 was ",sum(population_2018),".",sep="")

The global population in 2018 was 7595200200.

# Part 3: Identifying Countries with Largest and Smallest Populations

In this section, we will be finding the countries with the smallest and largest 10 populations.

In [7]:
sorted_population_2018 = sorted(population_2018)
print(sorted_population_2018[-10])

131000000

In [8]:
print('Countries with Largest Populations in 2018')
print('------------------------------------------------------')
for i in range(0,len(population_2018)):
    if population_2018[i] >= 131000000:
        print('The population of ', country_2018[i], ' in 2018 was ', population_2018[i],'.', sep="")

Countries with Largest Populations in 2018
------------------------------------------------------
The population of Bangladesh in 2018 was 166000000.
The population of Brazil in 2018 was 211000000.
The population of China in 2018 was 1420000000.
The population of India in 2018 was 1350000000.
The population of Indonesia in 2018 was 267000000.
The population of Mexico in 2018 was 131000000.
The population of Nigeria in 2018 was 196000000.
The population of Pakistan in 2018 was 201000000.
The population of Russia in 2018 was 144000000.
The population of United States in 2018 was 327000000.

In [9]:
print(sorted_population_2018[9])

209000

In [10]:
print('Countries with Smallest  Populations in 2018')
print('------------------------------------------------------')
for i in range(0,len(population_2018)):
    if population_2018[i] <= 209000:
        print('The population of ', country_2018[i], ' in 2018 was ', population_2018[i],'.', sep="")

Countries with Smallest  Populations in 2018
------------------------------------------------------
The population of Antigua and Barbuda in 2018 was 103000.
The population of Grenada in 2018 was 108000.
The population of Kiribati in 2018 was 118000.
The population of Micronesia, Fed. Sts. in 2018 was 106000.
The population of Samoa in 2018 was 198000.
The population of Sao Tome and Principe in 2018 was 209000.
The population of Seychelles in 2018 was 95200.
The population of St. Lucia in 2018 was 180000.
The population of St. Vincent and the Grenadines in 2018 was 110000.
The population of Tonga in 2018 was 109000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies

In this section, we will find the 10 countries with the highest life expectancy and the 10 countries with the lowest life expectancy.

In [11]:
sorted_life_exp_2018 = sorted(life_exp_2018)
print(sorted_life_exp_2018[-10])

82.4

In [12]:
print('Countries with Highest Life Expectancy in 2018')
print('------------------------------------------------------')
for i in range(0,len(life_exp_2018)):
    if life_exp_2018[i] >= 82.4:
        print('The life expectancy of ', country_2018[i], ' in 2018 was ', life_exp_2018[i],'.', sep="")

Countries with Highest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Australia in 2018 was 82.9.
The life expectancy of France in 2018 was 82.6.
The life expectancy of Iceland in 2018 was 82.6.
The life expectancy of Israel in 2018 was 82.4.
The life expectancy of Italy in 2018 was 82.6.
The life expectancy of Japan in 2018 was 84.2.
The life expectancy of Luxembourg in 2018 was 82.4.
The life expectancy of Norway in 2018 was 82.4.
The life expectancy of Singapore in 2018 was 84.0.
The life expectancy of Spain in 2018 was 83.2.
The life expectancy of Sweden in 2018 was 82.4.
The life expectancy of Switzerland in 2018 was 83.5.

In [13]:
print(sorted_life_exp_2018[9])

60.5

In [14]:
print('Countries with Lowest Life Expectancy in 2018')
print('------------------------------------------------------')
for i in range(0,len(life_exp_2018)):
    if life_exp_2018[i] <= 60.5:
        print('The life expectancy of ', country_2018[i], ' in 2018 was ', life_exp_2018[i],'.', sep="")

Countries with Lowest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Afghanistan in 2018 was 58.7.
The life expectancy of Central African Republic in 2018 was 51.6.
The life expectancy of Chad in 2018 was 60.5.
The life expectancy of Guinea-Bissau in 2018 was 59.7.
The life expectancy of Lesotho in 2018 was 51.1.
The life expectancy of Sierra Leone in 2018 was 60.0.
The life expectancy of Somalia in 2018 was 58.0.
The life expectancy of Swaziland in 2018 was 58.6.
The life expectancy of Zambia in 2018 was 59.5.
The life expectancy of Zimbabwe in 2018 was 60.2.

# Part 5: Calculating GDP by Country

In this section, we will calculate the GDP for each country in 2018 as well as the total world GDP.

In [15]:
gdp_2018 = []
for i in range(0, len(country_2018)):
    gdp = pcgdp_2018[i] * population_2018[i]
    gdp_2018.append(gdp)
print('The total global GDP in 2018 was $',sum(gdp_2018),'.',sep="")

The total global GDP in 2018 was $118225647770000.

In [16]:
min_gdp_2018 = min(gdp_2018)  
index_min_gdp_2018 = gdp_2018.index(min_gdp_2018)
max_gdp_2018 = max(gdp_2018)
index_max_gdp_2018 = gdp_2018.index(max_gdp_2018)

print('The country with the highest GDP in 2018 was ', country[index_min_gdp_2018], ' with a GDP of ', min_gdp_2018, '.', sep="")
print('The country with the lowest GDP in 2018 was ', country[index_max_gdp_2018], ' with a GDP of ', max_gdp_2018, '.', sep="")

The country with the highest GDP in 2018 was Kiribati with a GDP of 223020000.
The country with the lowest GDP in 2018 was China with a GDP of 22720000000000.

# Part 6: Grouping by Continent

In this section, we will calculate the total population, per capita GDP, and life expectancy for Africa, Americas, Asia, and Europe.

In [17]:
continent_names = ['africa', 'americas', 'asia', 'europe']
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []

for i in range(0, len(continent_names)):
    temp_life_exp = 0
    temp_pop = 0
    temp_gdp = 0
    for j in range(0, len(country_2018)):
        if continent[j] == continent_names[i]:
            temp_pop += population_2018[j]
            temp_gdp += gdp_2018[j]
            temp_life_exp += life_exp_2018[j] * population_2018[j]
    temp_life_exp = temp_life_exp / temp_pop
    temp_gdp = temp_gdp / temp_pop
    temp_life_exp = round(temp_life_exp, 1)
    temp_gdp = round(temp_gdp,0)
    
    pcgdp_2018_by_continent.append(temp_gdp)
    pop_2018_by_continent.append(temp_pop)
    life_exp_2018_by_continent.append(temp_life_exp)

In [18]:
print('Continent    Population     pcGDP     Life Exp')
print('----------------------------------------------')
for i in range(0, len(continent_names)):
    print(f'{continent_names[i]:<10}{pop_2018_by_continent[i]:>13}{"%.0f" % pcgdp_2018_by_continent[i]:>10}{life_exp_2018_by_continent[i]:>13}')

Continent    Population     pcGDP     Life Exp
----------------------------------------------
africa       1287150200      4700         65.9
americas     1010978000     28708         77.5
asia         4455113000     12705         73.2
europe        841959000     31534         78.4